<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>注意:</strong> 只显示God最后200行日志, 更多日志请查看<%= @where_is_log %>
</div>
<pre>
<%= @log %>
</pre>
